{% extends 'base.html' %}
{% block title %}Entrar — Ordens de Serviço{% endblock %}
{% block nav %}{% endblock %}
{% block content %}

<section class="card card-login">
  <h1>Logar</h1>

  <form class="form" method="post" action="{{ url_for('login') }}">

    <div class="form-row">
      <label for="username">Usuário</label>
      <input type="text" id="username" name="username" required />
    </div>

    <div class="form-row">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" required />
    </div>

    <div class="form-actions"> <button title="Clique aqui para entrar com sua conta" type="submit" class="button btn-igual">Confirmar Login</button>


      <a title="Clique aqui para criar uma conta" class="button secondary btn-igual" href="{{ url_for('signup') }}">
        Criar conta
      </a>
    </div>

  </form>

  <p class="muted">Informe usuário e senha e clique em Login para acessar a página inicial.</p>
</section>

{% endblock %}